export GIT_COMMITTER_NAME="Fred Wu"
export GIT_COMMITTER_EMAIL="ifredwu@gmail.com"
export GIT_AUTHOR_NAME="Fred Wu"
export GIT_AUTHOR_EMAIL="ifredwu@gmail.com"
export GITHUB_USER="fredwu"
export GITHUB_TOKEN=""